# Python 
__pycache__/
*.pyc
*.pyo

# Environments
venv/
.env

# Data
data/
json/

# get_API_token function
functions/get_API_token.py

# Models
modeling/models
modeling/model_states

# Results
results/
figures/

# Sandbox
sandbox/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db