# Python 
__pycache__/
*.pyc
*.pyo

# Commonality
commonality/frequencies

# Environments
venv/
.env

# Data
data/
json/

# get_API_token function
functions/get_API_token.py

# Models
modeling/models
modeling/model_states
modeling/model_features

# Results
results/
figures/

# Sandbox
sandbox/

# Archive
archive/

# Player list
player_list/lists/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db